<!-- BOTTOM NAV (APP ONLY) -->
<div class="fixed bottom-0 left-0 right-0 bg-white border-t md:hidden">
    <div class="flex justify-around py-3">
        <a onclick="showHome()" class="flex flex-col items-center text-green-600">
            <span class="material-icons">home</span>
            <span class="text-xs">Home</span>
        </a>
        <a onclick="showCat()" class="flex flex-col items-center text-gray-500">
            <span class="material-icons">grid_view</span>
            <span class="text-xs">Categories</span>
        </a>
        <a onclick="showCart()" class="flex flex-col items-center text-gray-500">
            <span class="material-icons">shopping_cart</span>
            <span class="text-xs">Cart</span>
        </a>
        <a onclick="showAccount()" class="flex flex-col items-center text-gray-500">
            <span class="material-icons">person</span>
            <span class="text-xs">Account</span>
        </a>
    </div>
</div>